

.host-layout .host-vans {
    padding: 1rem;
}

.host-vans .title {
    font-size: 26px;
    font-weight: 700;
}

.host-vans .myvans-grid {
    display: grid;
    grid-template-columns: auto;
    row-gap: 15px;
    padding: 1rem 0;
}

@media screen and (min-width:600px) {
    
    .host-vans .title {
        font-size: 30px;
    }

}