
main .make-review {
    width: 100dvw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 0.25rem;
    color: var(--vanPageText);
}


.make-review .title {
    margin: 0.25rem 0 0.5rem;
}

.make-review form {
    display: flex;
    flex-direction: column;
}

form .preset-info {
    display: flex;
    flex-direction: column;
}

.preset-info img {
    width: 280px;
    height: 280px;
    object-fit: cover;
    border-radius: 8px;
}

.preset-info .text-data {
    margin: 1rem 0 0.25rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    word-break: break-word;
}

.text-data span {
    font-size: 20px;
}

form .error,
form .err-placeholder {
    padding: 0.5rem 0;
    text-align: center;
    font-size: 18px;
}

form .input-fields {
    display: flex;
    flex-direction: column;
}

.input-fields input,
.input-fields textarea {
    padding: 0.75rem;
    font-size: 17px;
    background-color: var(--makeReviewFormInputBg);
    border: 1px solid var(--makeReviewFormBorder);
}

.input-fields input {
    border-radius: 6px 6px 0 0;
}

.input-fields textarea {
    border-radius: 0 0 6px 6px;
    resize: none; /* Disable resizing */
    font-family: inherit;
    text-align: justify;
}

.input-fields .star-ratings-group {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    margin: 0.5rem 0 0.75rem;
}

.star-ratings-group .rating {
    font-size: 20px;
}

.star-ratings-group .stars-box {
    display: flex;
    gap: 0.1rem;
}

.stars-box .star {
    font-size: 2rem;
}


form .btn-submit {
    margin: 1rem 0;
    padding: 0.75rem 0.5rem;
    border-radius: 8px;
    border: none;
    color: var(--makeReviewAction);
    background-color: var(--makeReviewActionBg);
    font-size: 19px;
    font-weight: 500;
    transition: background-color 0.2s, transform 0.2s;
}

form .btn-submit:hover {
    background-color: var(--makeReviewActionBgHover);
    cursor: pointer;
}

form .btn-submit:active {
    transform: scale(0.98);
}

form .btn-submit:disabled {
    background-color: var(--makeReviewActionBgDisabled);
    transform: scale(1);
}


@media screen and (min-width:450px) {

    .make-review .title {
        font-size: 26px;
    }

    .preset-info img {
        width: 320px;
        height: 320px;
    }

    .preset-info .text-data {
        margin: 1rem 0 0.25rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        word-break: break-word;
    }

    .text-data span {
        font-size: 22px;
    }

    form .error,
    form .err-placeholder {
        padding: 0.75rem 0;
        font-size: 20px;
    }

    .input-fields input,
    .input-fields textarea {
        font-size: 19px;
    }

    .input-fields .star-ratings-group {
        display: flex;
        align-items: center;
        gap: 0.25rem;
        margin: 0.75rem 0;
    }

    .star-ratings-group .rating {
        font-size: 22px;
    }

    .star-ratings-group .star {
        font-size: 2.25rem;
    }

    form .btn-submit {
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 1.1px;
    }

}


@media screen and (min-width:600px) {

    .make-review .title {
        font-size: 28px;
        margin: 0.25rem 0 1rem;
    }

    .preset-info img {
        width: 380px;
        height: 380px;
    }

    .preset-info .text-data {
        margin: 1rem 0 0.5rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        word-break: break-word;
    }

    .text-data span {
        font-size: 23px;
    }

    form .error,
    form .err-placeholder {
        padding: 0.75rem 0;
        font-size: 21px;
    }

    .input-fields input,
    .input-fields textarea {
        font-size: 20px;
        padding: 1rem;
    }

    .star-ratings-group .rating {
        font-size: 24px;
    }

    .star-ratings-group .star {
        font-size: 2.5rem;
    }

    form .btn-submit {
        font-size: 22px;
    }

}
